<!-- TODO: paginate this log to 25/page, possibly allow user to choose how many are displayed per page -->
<div class="col-lg-12 full-width-content">
  <h1 class="main-title">Game Log</h2>

  <p>A log of all of the games in the GortPong DB. Todo: pagination...</p>

  <table class="table table-hover table-bordered">
    <tr>
      <th class="table-top-row">id</th>
      <th class="table-top-row">Winner</th>
      <th class="table-top-row">Score</th>
      <th class="table-top-row">Loser</th>
      <th class="table-top-row">Score</th>
    </tr>
    <% @games.each do |game| %>

    <tr>
      <td>
        <%= game.id %>
      </td>
      <td>
        <%= game.winner.display_name %>
      </td>
      <td>
        <%= game.winner_score %>
      </td>
      <td>
        <%= game.loser.display_name %>
      </td>
      <td>
        <%= game.loser_score %>
      </td>
    </tr>

    <% end %>
</div>
