<div class="col-md-8">

  <table class="table table-hover table-bordered">
    <tr>
      <td colspan="6" class="table-top-row home-table-heading">
        <h4>LADDER RANKINGS <span class="supporting-text">(showing players with over 3 games)</span></h4>
      </td>
    </tr>
    <tr>
      <th class="table-top-row">#</th>
      <th class="table-top-row">Name</th>
      <th class="table-top-row">Wins</th>
      <th class="table-top-row">Losses</th>
      <th class="table-top-row">Games</th>
      <!-- <th class="table-top-row">Avg Pts For</th> -->
      <!-- <th class="table-top-row">Avg Pts Agst</th> -->
      <th class="table-top-row">Rating</th>
    </tr>
    <% @players.each_with_index do |player, index| %>

    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td>
        <%= link_to player.display_name, player %>
      </td>
      <td>
        <%= player.wins %>
      </td>
      <td>
        <%= player.losses %>
      </td>
      <td>
        <%= player.games_played %>
      </td>
      <td>
        <strong><%= player.rating.rating %></strong>
      </td>
    </tr>

    <% end %>
  </table>
</div>

<div class="col-md-4">

  <table class="table table-hover table-bordered">

    <tr>
      <td colspan="6" class="table-top-row home-table-heading">
        <h4>RECENT GAMES</h4>
      </td>
    </tr>

    <tr>
      <th class="table-top-row">#</th>
      <th class="table-top-row">Winner</th>
      <th class="table-top-row">Score</th>
      <th class="table-top-row">Loser</th>
      <th class="table-top-row">Score</th>
    </tr>
    <% @games.each do |game| %>

    <tr>
      <th scope="row">
        <%= game.id %>
      </th>
      <td>
        <%= link_to game.winner.display_name, game.winner %>
      </td>
      <td>
        <%= game.winner_score %>
      </td>
      <td>
        <%= link_to game.loser.display_name, game.loser %>
      </td>
      <td>
        <%= game.loser_score %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
