<h1>Rankings</h1>

<%= link_to 'Log Game', new_game_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Games Played</th>
    <th>Rating</th>
  </tr>
  <% @players.each do |player| %>

  <tr>
    <td>
      <%= link_to player.display_name, player %>
    </td>
    <td>
      <%= player.wins %>
    </td>
    <td>
      <%= player.losses %>
    </td>
    <td>
      <%= player.games_played %>
    </td>
    <td>
      <%= player.rating.rating %>
    </td>
  </tr>

  <% end %>

</table>

<h2 style="display: inline-block">Game Log</h2> <span>(last 10)</span>

<table>
  <tr>
    <th>id</th>
    <th>Winner</th>
    <th>Score</th>
    <th>Loser</th>
    <th>Score</th>
  </tr>
  <% @games.each do |game| %>

  <tr>
    <td>
      <%= game.id %>
    </td>
    <td>
      <%= game.winner.display_name %>
    </td>
    <td>
      <%= game.winner_score %>
    </td>
    <td>
      <%= game.loser.display_name %>
    </td>
    <td>
      <%= game.loser_score %>
    </td>
  </tr>

  <% end %>

  <%= link_to "See All", games_path %>
