<div class="col-md-8">
  <table class="table table-hover table-bordered">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Games Played</th>
      <th>Rating</th>
    </tr>
    <% @players.each_with_index do |player, index| %>

    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td>
        <%= link_to player.display_name, player %>
      </td>
      <td>
        <%= player.wins %>
      </td>
      <td>
        <%= player.losses %>
      </td>
      <td>
        <%= player.games_played %>
      </td>
      <td>
        <strong><%= player.rating.rating %></strong>
      </td>
    </tr>

    <% end %>

  </table>
</div>
<div class="col-md-4">
  <!-- <h1>
    Game Log
    <span class="supporting-text">(last 10)
      <%#= link_to "See All", games_path %>
    </span>
  </h1> -->


  <table class="table table-hover table-bordered">
    <tr>
      <th>id</th>
      <th>Winner</th>
      <th>Score</th>
      <th>Loser</th>
      <th>Score</th>
    </tr>
    <% @games.each do |game| %>

    <tr>
      <th scope="row">
        <%= game.id %>
      </th>
      <td>
        <%= link_to game.winner.display_name, game.winner %>
      </td>
      <td>
        <%= game.winner_score %>
      </td>
      <td>
        <%= game.loser.display_name %>
      </td>
      <td>
        <%= game.loser_score %>
      </td>
    </tr>
  </div>

  <% end %>
