<h1><%= @player.display_name %> </h1>

<h2>Stats</h2>
<ul>
  <li>Rating: <%= @player.rating.rating %></li>
  <li>Games Played: <%= @player.games_played %></li>
  <li>Wins: <%= @player.wins %></li>
  <li>Losses <%= @player.losses %></li>
  <li>Plus/Minus: <%= @player.plus_minus %> </li
  <li>Highest Ever Rating <%= @player.rating.highest_ever %></li>
  <!-- This logic should probably maybe go somewhere else -->
  <% if @player.rating.avg_opp_rating_win != nil %>
    <li>Avg opp rating in wins <%= @player.rating.avg_opp_rating_win %></li>
  <% end %>
  <% if @player.rating.avg_opp_rating_loss != nil %>
    <li>Avg opp rating in losses <%= @player.rating.avg_opp_rating_loss %></li>
  <% end %>
</ul>

<h2>Games</h2>

<table class="list-table">
  <tr>
    <th>id</th>
    <th>Winner</th>
    <th>Winner Score</th>
    <th>Loser</th>
    <th>Loser Score</th>
    <th>Date</th>
  </tr>

  <!-- fil: is this the best way to do this? I think a join table would be better here -->
  <% (@player.games_won + @player.games_lost).sort.reverse.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.winner.display_name %></td>
      <td><%= game.winner_score %></td>
      <td><%= game.loser.display_name %></td>
      <td><%= game.loser_score %></td>
      <td><%= game.created_at %></td>
    </tr>
  <% end %>

</table>
