<div class="col-lg-12 full-width-content">
  <h1><%= @player.display_name %> </h1>

  <h2>Stats</h2>

  <div>
    <ul class="list-group">
      <li class="list-group-item"><strong>Rating:</strong> <%= @player.rating.rating %></li>
      <li class="list-group-item"><strong>Games Played:</strong> <%= @player.games_played %></li>
      <li class="list-group-item"><strong>Wins:</strong> <%= @player.wins %></li>
      <li class="list-group-item"><strong>Losses:</strong> <%= @player.losses %></li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item"><strong>Plus/Minus:</strong> <%= @player.plus_minus %> </li>
      <li class="list-group-item"><strong>Highest Ever Rating:</strong> <%= @player.rating.highest_ever %></li>
      <!-- This logic should probably maybe go somewhere else -->
      <% if @player.rating.avg_opp_rating_win != nil %>
        <li class="list-group-item"><strong>Avg opp rating in wins:</strong> <%= @player.rating.avg_opp_rating_win %></li>
      <% end %>
      <% if @player.rating.avg_opp_rating_loss != nil %>
        <li class="list-group-item"><strong>Avg opp rating in losses:</strong> <%= @player.rating.avg_opp_rating_loss %></li>
      <% end %>
    </ul>
  </div>



  <h2>Games</h2>

  <table class="table table-hover table-bordered">
    <tr>
      <!-- <th class="table-top-row">id</th> -->
      <th class="table-top-row">Winner</th>
      <th class="table-top-row">Winner Score</th>
      <th class="table-top-row">Loser</th>
      <th class="table-top-row">Loser Score</th>
      <th class="table-top-row">Date</th>
    </tr>

    <!-- fil: is this the best way to do this? I think a join table would be better here -->
    <% (@player.games_won + @player.games_lost).sort.reverse.each do |game| %>
      <tr>
        <!-- <td><%= game.id %></td> -->
        <td><%= game.winner.display_name %></td>
        <td><%= game.winner_score %></td>
        <td><%= game.loser.display_name %></td>
        <td><%= game.loser_score %></td>
        <td><%= game.created_at %></td>
      </tr>
    <% end %>

  </table>
</div>
