<div class="row at-a-glance-outer">

  <div class="statbox-wrapper col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <h6>PLUS / MINUS</h6>
    <div>
      <table class="table table-hover table-bordered">
        <% @ag_plus_minus.each do |player| %>
          <tr>
            <td><%= link_to player.display_name, player %></td>
            <td><%= "#{player.plus_minus}" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="hidden stat-help">
    Spread of points for vs. points against.
  </div>


  <div class="statbox-wrapper col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <h6>ACTIVE WIN STREAK</h6>
    <div>
      <table class="table table-hover table-bordered">
        <% @ag_winning_streak.each do |player| %>
          <tr>
            <td><%= link_to player.display_name, player %></td>
            <td><%= "#{player.win_streak}" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="hidden stat-help">
    Top win streaks.
  </div>


  <div class="statbox-wrapper hidden-xs col-sm-4 col-md-3 col-lg-2 ">
    <h6>TOUGHEST OPPONENTS</h6>
    <div>
      <table class="table table-hover table-bordered">
        <% @ag_toughest_opponents.each do |player| %>
          <tr>
            <td><%= link_to player.display_name, player %></td>
            <td><%= "#{player.rating.avg_opp_rating}" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="hidden stat-help">
    Highest average opponent rating.
  </div>


  <div class="statbox-wrapper hidden-xs hidden-sm col-md-3 col-lg-2 ">
    <h6>AVG POINTS PER GAME</h6>
    <div>
      <table class="table table-hover table-bordered">
        <% @ag_avg_points.each do |player| %>
          <tr>
            <td><%= link_to player.display_name, player %></td>
            <td><%= "#{player.avg_points}" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="hidden stat-help">
    Average points won per game (only players with more than 3 total games).
  </div>


  <div class="statbox-wrapper hidden-xs hidden-sm hidden-md col-lg-2 ">
    <h6>WINNING PERCENTAGE</h6>
    <div>
      <table class="table table-hover table-bordered">
        <% @ag_win_percent.each do |player| %>
          <tr>
            <td><%= link_to player.display_name, player %></td>
            <td><%= "#{player.win_percentage}" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="hidden stat-help">
    Percentage of games won (only players with more than 3 total games).
  </div>


  <div class="statbox-wrapper hidden-xs hidden-sm hidden-md col-lg-2 ">
    <h6>HIGHEST EVER RATING</h6>
    <div>
      <table class="table table-hover table-bordered">
        <% @ag_highest_ever_rating.each do |player| %>
          <tr>
            <td><%= link_to player.display_name, player %></td>
            <td><%= "#{player.rating.highest_ever}" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="hidden stat-help">
    Highest rating this player has ever achieved.
  </div>

</div>
