<h1><%= @live_game.player_one_slack %> vs. <%= @live_game.player_two_slack %></h1>

<p><%= @live_game.player_one_slack %>: <span id="player-one-score"><%= @live_game.player_one_score %></span></p>

<p><%= @live_game.player_two_slack %>: <span id="player-two-score"><%= @live_game.player_two_score %></span></p>

<div class="update-scores">
  <%= render 'live_point_form' %>
</div>

<%# TODO: Submit Game Button %>
<%= form_for @live_game, controller: "game_controller", action: "create" do |f| %>

<% end %>

<%= link_to "Delete This Game", live_game_path(@live_game), method: :delete, data: {confirm: "Are you sure you want to delete this game?"} %>
