<% if @live_game.in_progress %>
  <h1><%= @live_game.player_one_slack %> vs. <%= @live_game.player_two_slack %></h1>

  <p><span id="player-one-slack"><%= @live_game.player_one_slack %></span>: <span id="player-one-score"><%= @live_game.player_one_score %></span></p>

  <p><span id="player-two-slack"><%= @live_game.player_two_slack %></span>: <span id="player-two-score"><%= @live_game.player_two_score %></span></p>

  <div class="update-scores">
    <%= render 'live_point_form' %>
  </div>

  <div class="submit-live-game">
    <%= button_tag "Submit Game Score", id: "submit-live-game-button" %>
  </div>

  <%= link_to "Reset Game", live_game_path(@live_game), method: :delete, data: {confirm: "Are you sure you want to reset this game? (score will not be submitted)"} %>
<% else %>
  <p>There is no game currently.</p>
  <%= link_to "Start a New Game", edit_live_game_path(@live_game) %>
<% end %>
