<!DOCTYPE html>
<html>
<head>
  <title>Gortpong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">


</head>
<body>

<div id="wrap">
  <div class="main-header">
    <div class="container">
      <header>
        <div class="logo pull-left">
          <%= link_to image_tag("https://pbs.twimg.com/profile_images/3243860552/68de01181388ae9ec69a64248a676a64_400x400.png", class: 'img-logo'), root_path %>
          <%= link_to 'GORTPONG', root_path, class: "logo-text" %>
        </div>

        <nav class="pull-right main-nav">
          <ul>
            <li><%= link_to 'Rankings', root_path %></li>
            <li><%= link_to 'Game Log', games_path %></li>
            <li><%= link_to 'Rules', rules_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Add Game', new_game_path, class: 'cta-main' %></li>
            <li><%= link_to 'Join Ladder', new_player_path, class: 'cta-main' %></li>
          </ul>
        </nav>

      </header>
    </div>
  </div>

  <div class="container">
    <%= render 'ataglance' %>
  </div>

  <div class="container main-section">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted center">&copy; GortPong 2016. <%= link_to 'View source', 'https://github.com/pilifs/gortpong', class: 'dark' %> @ github and <%= link_to 'planned features', 'https://trello.com/b/Q7uzaf2k/gortpong-dev', class: 'dark' %> @ trello. To contribute, message us on slack!</p>
    </div>
  </footer>


</body>
</html>
