<!DOCTYPE html>
<html>
<head>
  <title>Gortpong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    
    <div class="logo">
      <%= link_to image_tag("gortpong-draft.png"), root_path %>
    </div>

    <nav class="main-nav">
      <ul>
        <li>
          <%= link_to 'View Rankings', root_url, class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to 'Log Game', new_game_path, class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to 'New Player', new_player_path, class: "btn btn-primary" %>
        </li>
        <li>
          <%= link_to 'Ladder Rules', rules_path, class: "btn btn-primary" %>
        </li>
        <!-- <li>
          <%= link_to 'About', about_path, class: "btn btn-primary" %>
        </li> -->
      </ul>
    </nav>
  </header>


  <div class="body-content">
    <%= yield %>
  <div>


  <footer>

  </footer>
</div>

</body>
</html>
