<!DOCTYPE html>
<html>
<head>
  <title>Gortpong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
  <header>
    <nav class="navbar navbar-default navbar-static-top main-nav">
      <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
              <%= image_tag("gortpong-draft-fil-feb4.jpg", class: 'img-logo') %>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Rankings', root_path %></li>
            <li><%= link_to 'Game Log', games_path %></li>
            <li><%= link_to 'Rules', rules_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li class="emphasize-nav-link"><span class="navbar-btn"><%= link_to 'Add Game', new_game_path, class: 'btn btn-default' %></span></li>
            <li class="emphasize-nav-link"><span class="navbar-btn nav-last"><%= link_to 'Join Ladder', new_player_path, class: 'btn btn-default' %></span></li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <div class="container">
    <%= render 'ataglance' %>
  </div>

  <div class="container main-section">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted center">&copy; GortPong 2016. <%= link_to 'View source', 'https://github.com/pilifs/gortpong', class: 'dark' %> @ github and <%= link_to 'planned features', 'https://trello.com/b/Q7uzaf2k/gortpong-dev', class: 'dark' %> @ trello. To contribute, message us on slack!</p>
    </div>
  </footer>


</body>
</html>
