<!DOCTYPE html>
<html>
<head>
  <title>GORTPONG - your authoritative source for all things table tennis @ Bitmaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />

  <meta charset="UTF-8">
  <meta name="title" content="Your authoritative source for all things table tennis @ Bitmaker.">
  <meta name="description" content="Our ladder rankings are driven by a sophisticated algorithm designed to pinpoint precisely who the top table tennis player is in team GORT.">
  <meta property="og:site_name" content="GORTPONG">
  <meta property="og:title" content="Your authoritative source for all things table tennis @ Bitmaker.">
  <meta property="og:image" content="http://www.gortpong.com/images/gortpong-draft-fil-feb4.jpg">
  <meta property="og:description" content="Our ladder rankings are driven by a sophisticated algorithm designed to pinpoint precisely who the top table tennis player is in team GORT.">

</head>
<body>

<div id="wrap">
  <header>
    <nav class="navbar navbar-default navbar-static-top main-nav">
      <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="<%= root_path %>">
              <%= image_tag("gortpong-draft-fil-feb4.jpg", alt: 'Logo', class: 'img-logo') %>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Rankings', root_path, class: "#{cp(root_path)}" %></li>
            <li><%= link_to 'Game Log', games_path, class: "#{cp(games_path)}" %></li>
            <li><%= link_to 'Info', info_path, class: "#{cp(info_path)}" %></li>
            <li class="emphasize-nav-link"><span class="navbar-btn"><%= link_to 'Add Game', new_game_path, class: "btn btn-default #{btn_path(new_game_path)}" %></span></li>
            <li class="emphasize-nav-link"><span class="navbar-btn nav-last"><%= link_to 'Join Ladder', new_player_path, class: "btn btn-default #{btn_path(new_player_path)}" %></span></li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <div class="container">
    <%= render 'ataglance' %>
  </div>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted center">&copy; GortPong 2016. <%= link_to 'View source', 'https://github.com/pilifs/gortpong', class: 'footer-link' %> @ github. To contribute, submit a pull request or msg us on slack!</p>
    </div>
  </footer>


</body>
</html>
